include ../btn/btn.pug

mixin contact_form
	<?php require('../php/contact_form.php') ?>
	form#contact-form.contact-form(
		action="../php/validate-contact-form.php?back=/contact",
		method="POST"
	)
		label(for="subject")
			p Subject:
			input#subject(
				type="subject",
				name="subject",
				required,
				pattern="string",
				value!="<?= $inputs['subject'] ?? \"I'd like a website\" ?>",
				title="Alphanumeric with accents allowed"
			)
			p.warning

		label(for="name")
			p Name:
			input#name(
				type="text",
				name="name",
				required,
				pattern="string",
				title="Alphanumeric with accents allowed",
				value!="<?= $inputs['name'] ?? '' ?>"
			)
			p.warning

		label(for="email")
			p Email:
			input#email(
				type="email",
				name="email",
				pattern="email",
				required,
				value!="<?= $inputs['email'] ?? '' ?>"
			)
			p.warning

		fieldset(for="services")
			legend#services Services you may be interested in:
			p.warning

			label(for="design")
				p Design
				input#design(type="checkbox", value="design", name="services[]")

			label(for="build")
				p Build
				input#build(type="checkbox", value="build", name="services[]")

			label(for="hosting")
				p Hosting
				input#hosting(type="checkbox", value="hosting", name="services[]")

			label(for="domain-purchase")
				p Domain purchase
				input#domain-purchase(
					type="checkbox",
					value="domain-purchase",
					name="services[]"
				)

			label(for="seo-accessibility")
				p S&#8203;E&#8203;O & Accessibility
				input#seo-accessibility(
					type="checkbox",
					value="seo-accessibility",
					name="services[]"
				)

			label(for="analytics")
				p Analytics
				input#analytics(type="checkbox", value="analytics", name="services[]")

			label(for="maintenance")
				p Ongoing maintenance
				input#maintenance(type="checkbox", value="maintenance", name="services[]")

			label(for="ecommerce")
				p E-commerce / Web store
				input#ecommerce(type="checkbox", value="ecommerce", name="services[]")

			label(for="blog")
				p Blog
				input#blog(type="checkbox", value="blog", name="services[]")

			label(for="other")
				p Other
				input#other(type="checkbox", value="other", name="services[]")

		label(for="message")
			span
				p Let us know a bit about your business:
				p.subtext What do you do, what are your customers like, what area do you service.
					br
					| What do you want to achieve with having a website?
			textarea#message(
				name="message",
				cols="30",
				rows="10",
				required,
				title="Not allowed: equals sign, greater than or less than signs, curly or square brackets"
			) <?= $inputs['message'] ?? '' ?>
			p.warning

		label(for="pot", aria-hidden="true")
			input(type="hidden", name="pot", readonly)

		input(type="hidden", name="token", value!="\<?= $token ?\>")

		input#package-type(type="hidden", name="package_type")
		+btn({icon: {class: "paper-plane", side: 'right'}, type: 'button'}).primary(
			type="submit",
			name="submit",
			value="submit"
		) Send

	p.warning
		script(src=require("./contact_form.ts")) 
