mixin scroll-to-top
	a#scroll-to-top.scroll-to-top(
		title="Scrolls to top of page and focuses on the header element",
		onclick="scrollToTop()",
		tabindex="0",
		href="#header"
	)
		span.icon.arrow.up
		//- img(src=require('../../images/lightbulb-arrow.svg'))
		| Back to Top
