mixin articles-section
	section.articles-section
		span#articles.section__content
			span
				h1 Recent articles
				p Informative articles for businesses with, or wanting, a website
			span.articles__wrapper
				<?php foreach ($articles as $article): ?>
				<?php $webpFile = $article->hero_img_filename . '.webp'; ?>
					//- <?php $thumbnail = $img_url . 'thumbnail/' . $webpFile . ' 200w' ?>
					<?php $small = $img_url . 'large/' . $webpFile . $webpFile . ' 425w' ?>
					<?php $medium = $img_url . 'medium/' . $webpFile . ' 900w' ?>
					//- <?php $large = $img_url . 'large/' . $webpFile . ' 1024w' ?>
					//- <?php $xLarge = $img_url . 'xLarge/' . $webpFile . ' 1440w' ?>
					<?php $srcset = array( $small, $medium) ?>
					<?php $srcset = implode(',', $srcset) ?>
					a.article__card(href!="/article/<?= $article->slug ?>")
						figure
							picture
								source(srcset!="<?= $srcset ?>", type="image/webp")
								img(
									src!="<?= $img_url . 'medium/' .  $article->hero_img_filename?>.jpg",
									alt!="<?= $article->hero_img_alt ?>"
								)
						span.content
							span
								p.title!= "<?= $article->title ?>"
								p.author!= "<?= $article->author_name ?>"
							p.summary!= "<?= $article->summary ?>"
				<?php endforeach ?>
