mixin articles-section
	section.articles-section
		span#articles.section__content
			span
				h1 Recent articles
				p Informative articles for businesses with, or wanting, a website
				<?php if (isset($filter)) : ?>
					a(href="/articles") View all articles
				<?php endif ?>
			<?php if (count($articles) > 0) : ?>	
			span.articles__wrapper
				<?php foreach ($articles as $article): ?>
					<?php $webpFile = $article->hero_img_filename . '.webp'; ?>
					<?php $small = $img_path . 'large/' . $webpFile  . ' 425w' ?>
					<?php $medium = $img_path . 'medium/' . $webpFile . ' 900w' ?>
					<?php $srcset = array( $small, $medium) ?>
					<?php $srcset = implode(',', $srcset) ?>
					article.article__card
						figure.image-w-placeholder
							img.placeholder-image(
								src!="<?= $img_path . 'thumbnail/' . $article->hero_img_filename ?>.jpg"
							)
							picture
								source(srcset!="<?= $srcset ?>", type="image/webp")
								img(
									src!="<?= $img_path . 'medium/' .  $article->hero_img_filename?>.jpg",
									alt!="<?= $article->hero_img_alt ?>"
								)
						span.content
							<?php $published_date = new DateTime($article->published_at)  ?>
							time.published_date!= "<?= $published_date->format('jS M y') ?>"
							h2.title!= "<?= $article->title ?>"
							p.summary!= "<?= $article->summary ?>"
							ul.categories
								<?php if ($article->categories) :?>
									<?php foreach (json_decode($article->categories) as $category) : ?>
										li.category!= "<?= $category ?>"
									<?php endforeach ?>
								<?php endif ?>
							a.link(
								href!="/article/<?= $article->slug ?>",
								title!="Read more about <?= $article->title ?>",
								rel="bookmark"
							) Read more
								|
								span.icon.chevron.right

				<?php endforeach ?>
				<?php else : ?>
				span
					p No articles found
					<?php endif ?>
