mixin article_hero_img
	span.hero_img
		//- <?php $sizes = ['small/' => '425w', 'medium/' => '900w', 'large/' => '1024w', 'xLarge/' => '1440w'] ?>
		//- <?php $webp_srcset = buildSrcsets($img_path, $article->hero_img_filename, $sizes, '.webp') ?>
		//- <?php $jpg_srcset = buildSrcsets($img_path, $article->hero_img_filename, $sizes, '.jpg') ?>
		- var img_height = "400px";
		figure.image-w-placeholder(style=`max-height: ${img_height}`)
			img.placeholder-image(
				src!="<?= $img_path . 'thumbnail/' . $article->hero_img_filename ?>.jpg",
				width="100%",
				height=img_height,
				style=`height: ${img_height} !important`,
				alt="Placeholder image for next hero image"
			)
			picture
				source(
					srcset!="<?= $img_path . 'medium/' . $article->hero_img_filename ?>.webp",
					type="image/webp",
					width="100%",
					height=img_height
				)
				img(
					sizes="(max-width: 1400px) 100vw, 1400px",
					src!="<?= $img_path . 'medium/' . $article->hero_img_filename ?>.jpg",
					alt!="<?= $article->hero_img_alt ?>",
					width="100%",
					height=img_height,
					style=`height: ${img_height} !important`
				)
