include ../btn/btn.pug
include ../image-w-placeholder/image-w-placeholder.pug

mixin showcase-item({type, name, features, link, icon, img, img_alt})
	a.showcase-item__wrapper&attributes(attributes)(href=link, target="_blank")
		span.content__wrapper
			span.img__wrapper(data-label=type)
				figure
					img.placeholder-image(src=require("../../images/" + img + "?size=100"))
					picture
						source(
							srcset=require("../../images/" + img + "?format=webp"),
							type="image/webp"
						)
						img(src=require("../../images/" + img), alt=img_alt)

			span.footer
				p.features
					- var array = features.split(",");
					each feature, index in array
						| #{ feature.toUpperCase().trim() } #{ index < array.length -1 ? '| ' : '' }
