extends ../mixins/page_layout.pug
include ../components/article-schema-json.pug

block phpScripts
	<?php include_once('./load_article.php') ?>

block variables
	- var mainClass = "<?= $article ? 'article' : 'no-article' ?>";
	- var title = "<?= $article ? $article->title : 'Whoops!' ?>";
	- var page_description = "";
	- var slug = "/showcase";
	//- - var page_image = require("../images/contact-order-online-small-medium-business-website.jpg");
	- var page_image_alt = "";

block content
	<?php if ($article !== null) :?>
		<?php $date = new DateTime($article->updated_at); ?>

		span.hero_img
			<?php $sizes = ['small/' => '425w', 'medium/' => '900w', 'large/' => '1024w', 'xLarge/' => '1440w'] ?>
			<?php $webp_srcset = buildSrcsets($img_path, $article->hero_img_filename, $sizes, '.webp') ?>
			<?php $jpg_srcset = buildSrcsets($img_path, $article->hero_img_filename, $sizes, '.jpg') ?>
			figure(height="65vh", width="100%")
				picture
					source(srcset!="<?= $webp_srcset ?>", type="image/webp")
					img(
						sizes="(max-width: 1400px) 100vw, 1400px",
						srcset!="<?= $jpg_srcset ?>",
						src!="<?= $img_path . 'medium/' . $article->hero_img_filename ?>.jpg",
						alt!="<?= $article->hero_img_alt ?>",
						width="auto",
						height="65vh"
					)
		section.article__section
			span.section__content
				span.title__wrapper
					span.title
						h1!= "<?= $article->title?>"
					span.last_updated Last updated
						!= " <?= $date->format('jS F Y') ?>"
				//- span#summary 
				//- span.tags
				//- 	span#content.content!= "<?= $article->tags?>"
				//- span.categories
				//- 	span.content!= "<?= $article->categories?>"
				span#content.article-content!= "<?= $article->content?>"
				span#published_at
				+article-schema-json
	<?php else : ?>
	section
		span.section__content
			span
				h1 Whoops
				p The article you were looking for doesn't seem to exist
	<?php endif ?>
