extends ../mixins/page_layout.pug
include ../components/article-schema-json.pug
include ../components/article_hero_img/article_hero_img.pug
include ../components/article_aside/article_aside.pug

block phpScripts
	<?php include_once('./load_article.php') ?>

block variables
	- var pageClass = "<?= $article ? 'article' : 'no-article' ?>";
	- var title = "<?= $article ? $article->title : 'Whoops!' ?>";
	- var page_description = "<?= $article ? $article->summary : 'Whoops' ?> ";
	- var slug = "article/<?= $article ? $article->slug : '' ?>";
	- var page_image = "<?= $article ? $img_path . 'medium/' . $article->hero_img_filename . '.jpg' : '' ?>";
	- var page_image_alt = "<?= $article ? $article->hero_img_alt : ''?>";

block content
	<?php if ($article !== null) :?>
		//- +article_aside

		section
			span.section__content.header
				span.breadcrumbs
					span: a(href="/") home
					span #{ '>' }
					span: a(href="/articles") articles
					span #{ '>' }
					span.current!= "<?= strtolower($article->title) ?>"
				span.title__wrapper
					<?php $created_date = new DateTime($article->created_at)  ?>
					<?php $created_date_str = $created_date->format('jS F Y') ?>
					<?php $updated_date = new DateTime($article->updated_at) ?>
					<?php $updated_date_str = $updated_date->format('jS F Y') ?>

					h1.title!= "<?= $article->title?>"
					span.dates
						p.last_updated Created
							!= " <?= $created_date_str ?>"
						<?php if ( strtotime($created_date_str) !==  strtotime($updated_date_str)) : ?>
							p.last_updated Updated
								!= " <?= $updated_date_str ?>"
						<?php endif ?>
				+article_hero_img

		section
			span.section__content
				span#content.article-content!= "<?= $article->content?>"
				span.categories
					p Read more about these categories
					ul.horizontal-list.pills
						<?php if ($article->categories): ?>
							<?php foreach(json_decode($article->categories) as $category) : ?>
								li: a(href!="/articles/?categories=<?= $category ?>") <?= $category ?>
							<?php endforeach ?>
						<?php endif ?>

				+article-schema-json

	<?php else : ?>
	section
		span.section__content
			span
				h1 Whoops
				p The article you were looking for doesn't seem to exist
	<?php endif ?>
