mixin checkboxes({name, label, required=false, items=[], other = false})
	fieldset(for=name)
		legend.countable-label(id=name)
			p!= label
		if block
			p.disclaimer: block
		p.warning

		each item in items 
			label.checkbox(for=`${name}_${item.name}`)
				p.label(data-required=required ? "true" : "")!= item.label
				- var checked = `<?= isset($inputs['${name}']['${name}_${item.name}']) ? 'checked' : null ?>`;
				input(
					type="checkbox",
					id=`${name}_${item.name}`,
					value=`${name}_${item.name}`,
					name=name + "[]",
					required=required,
					aria-required=required ? "true" : "false",
					onchange="this.checked ? this.setAttribute('aria-checked', 'true') : this.setAttribute('aria-checked', 'false')",
					aria-checked!=item.checked ? "true" : "false"
				)&attributes({[checked]: checked})
		if (other)
			label.checkbox(for=`${name}_other`) Other
				- var checked = `<?= isset($inputs['${name}']['${name}_other']) ? 'checked' : '' ?>`;
				input(
					type="checkbox",
					id=`${name}_other`,
					value="other",
					name=name + "[]",
					required=required,
					aria-required=required ? "true" : "false",
					onchange=`toggleCheckboxInputVisibility(event, '${name}_checkbox__input')`
				)&attributes([checked])
			label.other_checkbox_input(
				for=`${name}_other_checkbox_input`,
				id=`${name}_checkbox__input`,
				style="display: none",
				aria-hidden="true"
			)
				p Please explain a little further
				input(
					type="hidden",
					name=`${name}_other_checkbox_input`,
					id=`${name}_other_checkbox_input`
				)
