mixin currency_input({name, label, required=false})
	label.currency_input.countable-label(for=name)
		p!= label
		if block
			p.disclaimer: block

		.input
			span(aria-hidden="true") $
			input.no_styling(
				type="number",
				name=name,
				id=name,
				required=required,
				aria-required=required ? "true" : "false",
				value!=`<?= $inputs['${name}'] ?? null ?>`
			)
		p.warning
