mixin date_input({name, label, required=false})
	label.countable-label(for=name)
		p!= label
		if block
			p.disclaimer: block

		input.text_input(
			type="date",
			name=name,
			id=name,
			required=required,
			aria-required=required ? "true" : "false"
		)
		p.warning
