mixin email_input({name, label, required=false, autocomplete= null})
	label.countable-label(for=name)
		p.label(data-required=required ? "true" : "")!= label
		if block
			p.disclaimer: block
		p.warning
		input.text_input&attributes(attributes)(
			type="email",
			name=name,
			id=name,
			required=required,
			aria-required=required ? "true" : "false",
			pattern="email",
			value!=`<?= $inputs['${name}'] ?? null ?>`,
			autocomplete=autocomplete
		)
