include ./page_header.pug
include ./page_footer.pug
include ../components/fb-chat-plugin/fb-chat-plugin.pug
include ../components/business-schema-json.pug
include ../components/scroll-to-top/scroll-to-top.pug

block variables
block phpScripts
doctype html 

- var companyName = "A&#8203;M&#8203;Designed";
- var base_url = "https://www.amdesigned.com.au/";
- var addSpaces = (text) => text.split("").join("&#8203;");

html(lang="en")
	head
		meta(charset="UTF-8") 
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title!= title === "Home" ? "A&#8203;M&#8203;Designed" : title === "not-found" ? "Uh oh... | A&#8203;M&#8203;Designed" : title + " | A&#8203;M&#8203;Designed"

		meta(
			name="description",
			content!=page_description ? page_description : "AMDesigned"
		)
		meta(property="og:locale", content="en_AU")
		//- Facebook
		meta(property="og:url", content!=slug ? base_url + slug : base_url)
		meta(
			property="og:title",
			content!=!title === "Home" ? companyName : title + " | " + companyName
		)
		meta(
			property="og:description",
			content!=page_description ? page_description : "AMDesigned"
		)
		meta(property="og:image", content!=page_image ? page_image : "")
		meta(property="og:image:alt", content!=page_image_alt ? page_image_alt : "")

		//- Twitter
		meta(
			name="twitter:title",
			content!=title === "Home" ? companyName : title + " | " + companyName
		)
		meta(
			name="twitter:description",
			content!=page_description ? page_description : "AMDesigned"
		)
		meta(name="twitter:image", content!=page_image ? page_image : "")

		link(href=require("../scss/main.scss"), rel="stylesheet")
		block scss-files

		link(
			rel="apple-touch-icon",
			sizes="180x180",
			href=require("../favicon/apple-touch-icon.png")
		)
		link(
			rel="icon",
			type="image/png",
			sizes="512x512",
			href=require("../favicon/android-chrome-512x512.png")
		)
		link(
			rel="icon",
			type="image/png",
			sizes="192x192",
			href=require("../favicon/android-chrome-192x192.png")
		)
		link(
			rel="icon",
			type="image/png",
			sizes="32x32",
			href=require("../favicon/favicon-32x32.png")
		)
		link(
			rel="icon",
			type="image/png",
			sizes="16x16",
			href=require("../favicon/favicon-16x16.png")
		)
		link(rel="manifest", href="../favicon/site.webmanifest")

		block scripts
	body(class!=pageClass ? pageClass : title.toLowerCase().split(' ').join('-'))
		- var pages = { home: "/", quote: "/quote", contact: "/contact/", showcase: "/showcase/", articles: "/articles/" };
		//-,'services': '/services' removed for now
		span#loading__wrapper.loading__wrapper
			span.loader Loading...

		+page_header(title)
		main#main(class!=pageClass ? pageClass : title.toLowerCase().split(' ').join('-'))
			block pre
			block content

		+business-schema-json

		+scroll-to-top
		+page_footer(title)

		script(src=require("TS/common.ts")((defer = true))) 
		script(src=require("TS/lightDarkMode.ts")((defer = true))) 
		script(src=require("JS/posthog.js")((defer = true)))

		block footerScripts
