mixin image-w-placeholder({path=undefined, alt=undefined, min=undefined, max=undefined}, figcaption=undefined)
	- max = max ? max : 1920;
	- min = min ? min : 100;
	- var sizes = [];
	- var diff = 160;

	- for (var start = min; (start + diff) <= max; start += diff)
	- sizes.push("sizes[]=" + start);

	span.image-w-placeholder&attributes(attributes)
		|
		img.placeholder-image(src=require("Images/" + path + "?size=100"), alt=alt)
		figure
			picture
				source(
					srcset=require("Images/" + path + "?format=webp&" + sizes.join(",")),
					type="image/webp"
				)
				img(
					src=require("Images/" + path),
					alt=alt,
					srcset=require("Images/" + path + "?" + sizes.join(","))
				)

			if figcaption
				figcaption #{ figcaption }
			if block
				figcaption
					block
